doctype html
html
    head
        meta(charset="utf-8")
        title Totoro
        link(rel="stylesheet" href="index.css")
    body.metro
        div.everything
            div.main
                h1 Totoro
                div.input-control.text
                    input(type="text" placeholder="输入测试Runner的地址")
                button.success 确认
            div.content
                div.head
                    template 连接到 {{url}} 来添加测试机器
                div.list
                    div
                        | 当前已连接测试机:
                        span.count 0
                    ul
                        template
                            li
                                div.browser-icon
                                span.browser {{browser}}
                                span.os {{os}}



        script(src="../../bower_components/requirejs/require.js")
        script(src="config.generate.js")

        // startup
        script.
            require.config({
                baseUrl: '../../'
            })
            require(['src/home/index'], function (index) {
                index.init()
            })