doctype html
html
    head
        meta(charset="utf-8")
        title test
    body
        div.everything
            div.head 连接到 http://10.33.68.105:9999 来添加测试机器
            div.list
                div.head
                    template
                        h1 当前已连接测试机: {{count}}
                ul
                    template
                        li {{name}}


        script(src="../../bower_components/requirejs/require.js")
        script(src="config.js")
        script(src="config2.generate.js")


        // startup
        script.
            require(['src/home/index'], function (index) {
                index.init()
            })